body {
    color: #1B1B1B;
}

.header {
    margin-left: 20px;
}

.header .header__menu {
    display: flex;
}

.header .header__middle {
    margin-left: 430px;
    gap: 50px;
}

.header .header__left {
    margin-left: 25px;
}

.header .header__right {
    margin-left: 350px;
}

.header .header__button {
    background-color: white;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #1B1B1B;
}

.header .header__btn {
    background-color: #fff;
    padding: 10px 19px;
    border-radius: 35px;
    cursor: pointer;
    border: 2px solid #1B1B1B;
    margin-left: -4px;
}

.header .header__middle a{
    margin-left: 15px;
    color: #1B1B1B;
    border-bottom: none;
}

.welcome menu {
    display: flex;
}

.welcome .welcome__menu {
    margin-top: 200px;
}

.welcome .welcome__text1 {
    font-size: 45px;
    font-weight: 1000;
}

.welcome .welcome__text2 {
    margin-top: 15px;
}

.welcome .welcome__button {
    background-color: #1B1B1B;
    color: #DCE9B1;
    padding: 13px 30px;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 25px;
}

.welcome .welcome__btn {
    background-color: #000;
    padding: 13px 9px;
    border-radius: 35px;
    margin-left: -4px;
}

.welcome .welcome__img {
    display: flex;
    margin-left: -150px;
    margin-right: 40px;
    margin-top: 125px;
}

.welcome img {
    margin-left: 25px;
}

.welcome .welcome__landscape {
    background-color: rgb(211, 245, 138);
    padding: 10px 10px;
    display: flex;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

.welcome .welcome__left {
    display: flex;
    margin-left: 5px;
}

.welcome .welcome__left img {
    margin-right: -50px;
}

.welcome .welcome__text {
    margin-left: 75px;
    margin-top: 10px;
}

.welcome .welcome__right {
    margin-left: 625px;
    margin-top: 10px;
    color: #575757;
}

.welcome button {
    background-color: rgb(213, 227, 182);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.creativity {
    background-color: #F5F5F5;
    padding-bottom: 50px;
    margin-left: -10px;
    margin-right: -10px;
}

.creativity .creativity__button {
    margin-bottom: 10px;
    margin-left: 30px;
    background-color: #F5F5F5;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 75px;
    border: 2px solid #1B1B1B;
    cursor: pointer;
}

.creativity .creativity__text {
    font-size: 40px;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 1000;
}

.creativity__menu {
    display: flex;
    margin-left: 40px;
    margin-top: -425px;
}

.creativity__about2 {
    margin-left: 695px;
    background-color: #d8d8d8;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 25px;
}

.creativity__about1 {
    background-color: #d8d8d8;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 25px;
}

.creativity__txt {
    margin-left: -510px;
    font-size: 20px;
}

.creativity__images {
    margin-top: 150px;
    margin-left: 20px;
}

.creativity__img2 {
    margin-left: 400px;
    border-radius: 30px;
}
.creativity__img {
    border-radius: 30px;
}

.creativity__btns {
    margin-top: 285px;
    margin-left: 450px;
}

.creativity__left {
    padding: 20px 20px;
    border-radius: 35px;
    border: 2px solid #1B1B1B;
    cursor: pointer;
}

.creativity__right {
    padding: 20px 20px;
    border-radius: 35px;
    margin-left: 10px;
    border: 2px solid #1B1B1B;
    cursor: pointer;
}

.footer {
    background-color: #1b1b1b;
    color: white;
    margin-top: -30px;
    margin-bottom: -20px;
    margin-left: -10px;
    margin-right: -10px;
}

.footer__down {
    display: flex;
    margin-left: 25px;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer__downtxt2 {
    margin-right: 25px;
}

.footer__up {
    display: flex;
    margin-left: 25px;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 25px;
}

.footer__second {
    margin-top: 185px;
}

.footer__upright {
    display: flex;
    gap: 50px;
    margin-right: 60px;
}

.footer__name {
    font-size: 20px;
}

.footer__link {
    color: white;
    margin-top: 15px;
    border: 0px solid ;
}

.footer__button {
    margin-top: 13px;
    background-color: #1B1B1B;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
}

.footer__list {
    display: grid;
}

.footer__uptxt {
    margin-top: 15px;
}

.footer__first {
    text-align: center;
    padding-top: 25px;
}

.footer__image {
    width: 97%;
    border-radius: 25px;
}

.footer__title {
    font-size: 45px;
    margin-bottom: 25px;
}

.footer__btn {
    background-color: #d8d8d8;
    color: white;
    border: 2px solid white;
    padding: 5px 12px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}

.footer__adresstext {
    background-color: #F5F5F5;
    border: 1px solid #EBEBEB;
    color: #1b1b1b;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    margin-left: -40px;
    padding-right: 185px;
    border-radius: 15px;
}

.footer__adress {
    margin-left: -27px;
    background-color: #1B1B1B;
    border-radius: 20px;
    padding: 4px 11px;
    border: none;
    cursor: pointer;
}

.footer__adress img {
    margin-left: 2px;
}

.footer__textlist {
    margin-top: -360px;
}

.work {
    margin-bottom: 75px;
}

.work__image1 {
    width: 41%;
    margin-left: 20px;
}

.work__image2 {
    width: 41%;
    margin-left: 10px;
}

.work__imghalf {
    width: 175px;
    margin-left: 10px;
}

.work__button {
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid #1B1B1B;
    cursor: pointer;
}

.work__title {
    font-weight: 1000;
    font-size: 40px;
    margin-left: 20px;
}

.work__blackbtn {
    background-color: #1B1B1B;
    color: #ffffff;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: -205px;
    margin-top: 50px;
    border: 1px solid #1B1B1B;
}

.work__btn {
    background-color: #1B1B1B;
    padding: 10px 19px;
    border: 1px solid #1B1B1B; 
    border-radius: 35px;
    margin-left: -4px;
    cursor: pointer;
}

.work__up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.work__downbuttons {
    margin-top: -685px;
    margin-left: 415px;
}

.work__downbtn1 {
    background-color: #d8d8d8;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
}

.work__downbtn2 {
    background-color: #d8d8d8;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 15px;
    margin-left: 420px;
    cursor: pointer;
}

.work__beautiful {
    display: flex;
    margin-top: 520px;
    margin-left: 50px;
}

.work__text1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 1000;
}

.work__bbutton {
    background-color: #1B1B1B;
    padding: 27px 27px;
    border-radius: 35px;
    margin-left: -70px;
    margin-top: 10px;
    border: 1px solid #1B1B1B;
    cursor: pointer;
}

.work__btext {
    background-color: #e0e0e0;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.testimonials {
    margin-left: 20px;
}

.testimonials__btn {
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid #1B1B1B;
    cursor: pointer;  
}

.testimonials__bottom2 {
    display: flex;
    margin-bottom: 50px;
}

.testimonials__top1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.testimonials__titletop {
    margin-right: 75px;
    font-weight: 1000;
    font-size: 40px;
}

.testimonials__img {
    border-radius: 25px;
    width: 425px;
}

.testimonials__title {
    font-weight: 1000;
    font-size: 40px;
}

.testimonials__name {
    font-weight: 1000;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimonials__desc {
    font-size: 14px;
}

.testimonials__rise {
    margin-left: 20px;
}

.testimonials__importance {
    margin-left: 20px;
}

.testimonials__top2 {
    margin-bottom: 150px;
}

.testimonials__image1 {
    width: 95%;
}

.testimonials__image2 {
    margin-bottom: -435px;
    width: 93%;
    margin-left: 13px;
}

.testimonials__image3 {
    margin-bottom: -480px;
    width: 90%;
    margin-left: 39px;
}

.testimonials__image4 {
    margin-bottom: -520px;
    width: 88%;
    margin-left: 51px;
}

.testimonials__collection {
    font-weight: 1000;
    font-size: 35px;
    margin-bottom: 100px;
    margin-top: -350px;
    margin-left: 25px;
}

.testimonials__message {
    margin-left: 25px;
}

.service {
    background-color: #F5F5F5;
    padding-bottom: 70px;
    margin-bottom: 50px;
    padding-top: 75px;
    margin-left: -10px;
    margin-right: -10px;
}

.service__container {
    margin-left: 30px;
}

.service__btn {
    margin-bottom: 10px;
    background-color: #F5F5F5;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid #1B1B1B;
    cursor: pointer;  
}

.service__title {
    font-weight: 1000;
    font-size: 40px;
}

.service__down1 {
    background-color: #fff;
    margin-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    border-radius: 15px;
}

.service__down2 {
    background-color: #fff;
    margin-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    border-radius: 15px;
}

.service__middle1 {
    margin-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    border-radius: 15px;
}

.service__btnmiddle {
    background-color: #F5F5F5;
    cursor: pointer;
    border: 2px solid #1B1B1B;
    border-radius: 20px;
    padding: 10px 12px;
    margin-right: 2px;
}

.service__downbutton {
    margin-left: 400px;
}

.service__btndown {
    background-color: white;
    cursor: pointer;
    border: 2px solid #1B1B1B;
    border-radius: 20px;
    padding: 10px 12px;
    margin-right: 2px;
}

.service__downbtn {
    background-color: #1B1B1B;
    cursor: pointer;
    border: 2px solid #1B1B1B;
    border-radius: 20px;
    padding: 7px 10px;
    margin-right: 5px;
    color: white;
    margin-left: 1175px;
    margin-bottom: -150px;
}

.service__downmain {
    display: flex;
    margin-top: -25px;
    margin-bottom: 15px;
}

.service__downdesc {
    margin-left: 250px;
}

.service__middle2 {
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.service__middleimg {
    margin-right: 10px;
}

.search__search {
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    color: #1b1b1b;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    margin-left: 900px;
    margin-top: 100px;
    padding-right: 55px;
    border-radius: 15px;
}

.service__up {
    margin-top: -185px;
}

.search__searchbtn {
    margin-left: -30px;
    background-color: #1B1B1B;
    border-radius: 20px;
    padding: 5px 13px;
    border: none;
    cursor: pointer;
}

.plans {
    background-color: #F5F5F5;
    padding-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
}

.plans__container {
    margin-left: 30px;
}

.plans__top {
    text-align: center;
}

.plans__topbutton {
    background-color: #F5F5F5;
    padding: 8px 9px;
    cursor: pointer;
    border: 1px solid #1B1B1B;
    border-radius: 20px;
    margin-left: -55px;
}

.plans__title {
    font-size: 40px;
    font-weight: 1000;
    margin-top: 25px;
    margin-left: -55px;
}

.plans__bottom {
    background-color: #DCE9B1;
    margin-right: 30px;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    border-radius: 20px;
}

.plans__upbtn {
    background-color: #DCE9B1;
    cursor: pointer;
    border: 2px solid #1B1B1B;
    padding: 5px 8px;
    border-radius: 20px;
    margin-left: 475px;
    margin-top: 10px;
}

.plans__updollar {
    font-weight: 1000;
    font-size: 50px;
}

.plans__up {
    display: flex;
    margin-top: -40px;
}

.plans__day {
    margin-top: 13px;
    margin-left: 13px;
    font-size: 25px;
}

.plans__mid {
    font-size: 14px;
    margin-bottom: 70px;
    margin-top: 15px;
}

.plans__bright {
    background-color: #1B1B1B;
    color: white;
    margin-left: 80px;
    padding-left: 20px;
    padding-right: 245px;
    padding-top: 20px;
    border-radius: 15px;
}

.plans__txt {
    margin-bottom: 13px;
    margin-left: 20px;
}

.plans__downbtn1 {
    background-color: #1B1B1B;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    padding: 13px 95px;
    font-size: 17px;
    border: 1px solid #1B1B1B;
}

.plans__downbtn2 {
    background-color: #DCE9B1;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 95px;
    font-size: 17px;
    border: none;
}


.plans__middle1 {
    background-color: white;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    display: grid;
    border-radius: 20px;
    margin-left: 10px;
}

.plans__middle2 {
    background-color: white;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 50px;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    display: grid;
    border-radius: 20px;
    margin-left: -5px;
}

.plans__middle {
    display: flex;
    margin-bottom: 25px;
    margin-top: 35px;
}

.plans__bdown {
    background-color: #F5F5F5;
    margin-top: 35px;
    padding-left: 15px;
    padding-top: 20px;
    border-radius: 15px;
    margin-right: -30px;
}

.plans__btn {
    background-color: white;
    cursor: pointer;
    border: 2px solid #1B1B1B;
    padding: 5px 8px;
    border-radius: 20px;
    margin-left: 475px;
    margin-top: 10px;
}

.plans__downbtn3 {
    background-color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 95px;
    font-size: 17px;
    border: none;
}

.faq {
    background-color: #F5F5F5;
    margin-left: -10px;
    margin-right: -10px;
}

.faq__container {
    margin-left: 30px;
}

.faq__btn {
    margin-bottom: 10px;
    background-color: #F5F5F5;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid #1B1B1B;
    cursor: pointer;  
}